name: Deploy Godot Web

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: github-pages
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Instalar dependencias
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y unzip wget

      # Descargar Godot 4.6
      - name: Download Godot
        run: |
          mkdir -p $HOME/godot
          cd $HOME/godot

          wget https://github.com/godotengine/godot-builds/releases/download/4.6-stable/Godot_v4.6-stable_linux.x86_64.zip

          unzip Godot_v4.6-stable_linux.x86_64.zip

          chmod +x Godot_v4.6-stable_linux.x86_64

          mv Godot_v4.6-stable_linux.x86_64 godot

      # Descargar Export Templates
      - name: Install Export Templates
        run: |
          mkdir -p ~/.local/share/godot/export_templates/4.6.stable

          cd /tmp

          wget https://github.com/godotengine/godot-builds/releases/download/4.6-stable/Godot_v4.6-stable_export_templates.tpz

          unzip Godot_v4.6-stable_export_templates.tpz

          cp templates/* ~/.local/share/godot/export_templates/4.6.stable/

      # Verificar instalación
      - name: Check Godot
        run: |
          $HOME/godot/godot --version
          ls ~/.local/share/godot/export_templates/4.6.stable

      # Crear build Web
      - name: Export Web
        run: |
          mkdir -p build

          $HOME/godot/godot \
          --headless \
          --path . \
          --export-release "Web" \
          build/index.html

      # Mostrar archivos generados
      - name: Debug Build
        run: |
          ls -R build

      # Evitar Jekyll
      - name: Create .nojekyll
        run: |
          touch build/.nojekyll

      # Subir artefacto
      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: build

  deploy:
    needs: build

    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - id: deployment
        uses: actions/deploy-pages@v4